@media only screen and (min-width: 769px)
{
   *{
      font-family: Verdana, sans-serif;
   }
   
   body {
      background-color: rgb(48, 45, 45);
      display: flex;
      flex-direction: column;
   }
   
   h1 {
      color: mediumorchid;
      float: left;
      font-style: bold;
      font-style: italic;
   }
   
   h3 {
      font-style: italic;
   }
   
   img {
      float: left;
      max-width: 500px;
      height: auto;
   }
   
   audio {
      float: right;
      background-color: mediumorchid;
   }
   
   .text {
      color: mediumorchid;
   }
   
   .linktext {
      color: mediumorchid;
   }

   .header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
   }

   .TitleText {
      color: rgb(63, 114, 255);
   }

   button {
      height:50px;
      width:100px;
      background-color: rgb(63, 114, 255);
   }
}

@media only screen and (min-width: 481px) and (max-width: 768px)
{
   *{
      font-family: Verdana, sans-serif;
   }
   
   body {
      background-color: rgb(48, 45, 45);
      display: flex;
      flex-direction: column;
   }
   
   h1 {
      color: mediumorchid;
      float: left;
      font-style: bold;
      font-style: italic;
   }
   
   h3 {
      font-style: italic;
   }
   
   img {
      width: 400px;
      height: auto;
   }
   
   audio {
      float: right;
      background-color: mediumorchid;
   }
   
   .text {
      color: mediumorchid;
   }
   
   .linktext {
      color: mediumorchid;
   }

   .TitleText {
      color: rgb(63, 114, 255);
   }

   button {
      background-color: rgb(63, 114, 255);
   }
}

@media only screen and (max-width:480px)
{
   *{
      font-family: Verdana, sans-serif;
   }
   
   body {
      background-color: rgb(48, 45, 45);
      display: flex;
      flex-direction: column;
   }
   
   h1 {
      color: mediumorchid;
      float: left;
      font-style: bold;
      font-style: italic;
   }
   
   h3 {
      font-style: italic;
   }
   
   img {
      width: 200px;
      height: auto;
   }
   
   audio {
      float: right;
      background-color: mediumorchid;
   }
   
   .text {
      color: mediumorchid;
   }
   
   .linktext {
      color: mediumorchid;
   }

   .TitleText {
      color: rgb(63, 114, 255);
   }

   button {
      background-color: rgb(63, 114, 255);
   }
}






